/* module */
@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

body {
    --font: "Stack Sans Text", 'gg sans', 'Noto Sans', 'Segoe UI Emoji', sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;

}
:root {
    --red-1: oklch(76% 0.12 0);
    --red-2: oklch(70% 0.12 0);
    --red-3: oklch(64% 0.12 0);
    --red-4: oklch(58% 0.12 0);
    --red-5: oklch(52% 0.12 0);

    --green-1: oklch(76% 0.11 170);
    --green-2: oklch(70% 0.11 170);
    --green-3: oklch(64% 0.11 170);
    --green-4: oklch(58% 0.11 170);
    --green-5: oklch(52% 0.11 160);

    --blue-1: oklch(76% 0.1 215);
    --blue-2: oklch(70% 0.1 215);
    --blue-3: oklch(64% 0.1 215);
    --blue-4: oklch(58% 0.1 215);
    --blue-5: oklch(52% 0.1 215);

    --yellow-1: oklch(80% 0.11 90);
    --yellow-2: oklch(74% 0.11 90);
    --yellow-3: oklch(68% 0.11 90);
    --yellow-4: oklch(62% 0.11 90);
    --yellow-5: oklch(56% 0.11 90);

    --purple-1: oklch(76% 0.11 310);
    --purple-2: oklch(70% 0.11 310);
    --purple-3: oklch(64% 0.11 310);
    --purple-4: oklch(58% 0.11 310);
    --purple-5: oklch(52% 0.11 310);

    --online: var(--green-2);
    --dnd: var(--red-2);
    --idle: var(--yellow-2);
    --streaming: var(--purple-2);
    --offline: var(--text-4);
  
    --accent: var(--accent-5);
    --accent-new: var(--accent-4);
    --active: hsla(220, 19%, 40%, 0.2);
    --active-2: hsla(220, 19%, 40%, 0.3);
    --box-shadow-2: hsla(0, 0%, 0%, 1);

    --custom-app-top-bar-height: var(--top-bar-height);
    --custom-guild-list-width: calc(var(--guildbar-avatar-size) + var(--custom-guild-list-padding) * 2 + var(--border-thickness) * 2);
    --custom-guild-list-padding: 12px;
    --window-control-size: 14px;

    --hover: hsl(221,20%,40%,0.1);
    --mention: linear-gradient(to right, color-mix(in hsl, var(--blue-2), transparent 90%) 40%, transparent);
    --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--blue-2), transparent 95%) 40%, transparent);
    --message-hover: var(--bg-3);
    --reply: linear-gradient(to right, color-mix(in hsl, var(--text04), transparent 90%) 40%, transparent);
    --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text04), transparent 95%) 40%, transparent);

    --channel-glow-intensity: var(--glow-intensity);
    --input-glow-intensity: var(--glow-intensity);
    --members-glow-intensity: var(--glow-intensity);
    --server-glow-intensity: var(--glow-intensity);
    --panel-backdrop-filter: blur(var(--panel-blur)) saturate(100%) !important;
}
.visual-refresh body,
.visual-refresh .theme-dark:not(.custom-user-profile-theme),
.visual-refresh .theme-light:not(.custom-user-profile-theme) {
    --activity-card-background: var(--bg-3);
    --alert-bg: red;
    --autocomplete-bg: var(--bg-3);
    --background-accent: var(--bg-2);
    --background-code: var(--bg-3);
    --background-feedback-critical: color-mix(in hsl, var(--red-2), transparent 80%);
    --background-feedback-info: color-mix(in hsl, var(--blue-2), transparent 80%);
    --background-feedback-positive: color-mix(in hsl, var(--green-2), transparent 80%);
    --background-feedback-warning: color-mix(in hsl, var(--yellow-2), transparent 80%);
    --background-floating: var(--bg-3);
    --background-mentioned: var(--mention);
    --background-mentioned-hover: var(--mention-hover);
    --background-message-automod: red;
    --background-message-automod-hover: red;
    --background-message-highlight: var(--reply);
    --background-message-highlight-hover: var(--reply-hover);
    --background-message-hover: var(--message-hover);
    --background-mod-normal: var(--active);
    --background-mod-strong: var(--active-2);
    --background-mod-subtle: var(--hover);
    --background-modifier-accent: var(--hover);
    --background-modifier-active: var(--active);
    --background-modifier-hover: var(--hover);
    --background-modifier-selected: var(--active);
    --background-nested-floating: var(--bg-4);
    --background-primary: var(--bg-4);
    --background-secondary: var(--bg-3);
    --background-secondary-alt: var(--bg-3);
    --background-surface-high: var(--bg-3);
    --background-surface-higher: var(--bg-3);
    --background-surface-highest: var(--bg-3);
    --background-tertiary: var(--bg-4);
    --bg-base-low: var(--bg-4);
    --bg-base-lower: var(--bg-4);
    --bg-base-lowest: var(--bg-4);
    --bg-base-primary: var(--bg-4);
    --bg-base-secondary: var(--bg-4);
    --bg-base-tertiary: var(--bg-3);
    --bg-brand: var(--accent-2);
    --bg-mod-faint: var(--hover);
    --bg-mod-strong: var(--bg-2);
    --bg-mod-subtle: var(--bg-2);
    --bg-surface-overlay: var(--bg-4);
    --bg-surface-raised: var(--bg-3);
    --blurple-50: var(--accent-2);
    --brand-360: var(--accent-2);
    --brand-500: var(--accent-2);
    --button-border: hsla(0, 0%, 50%, 0.2) !important;
    --button-danger-background: var(--red-3);
    --button-danger-background-active: var(--red-5);
    --button-danger-background-disabled: var(--red-5);
    --button-danger-background-hover: var(--red-4);
    --button-danger-border: var(--button-border);
    --button-filled-brand-background: var(--accent-3);
    --button-filled-brand-background-active: var(--accent-5);
    --button-filled-brand-background-hover: var(--accent-4);
    --button-filled-brand-border: var(--button-border);
    --button-filled-brand-inverted-background: var(--text-1);
    --button-filled-brand-inverted-background-active: var(--text-3);
    --button-filled-brand-inverted-background-hover: var(--text-2);
    --button-filled-brand-inverted-text: var(--bg-4);
    --button-filled-brand-text: var(--text-0);
    --button-filled-white-background: var(--text-1);
    --button-filled-white-background-active: var(--text-3);
    --button-filled-white-background-hover: var(--text-2);
    --button-filled-white-text: var(--bg-4);
    --button-outline-danger-background: var(--bg-2);
    --button-outline-danger-background-active: var(--text-5);
    --button-outline-danger-background-hover: var(--bg-1);
    --button-outline-danger-border: var(--border-light);
    --button-outline-danger-border-active: var(--border-light);
    --button-outline-danger-border-hover: var(--border-light);
    --button-outline-danger-text: var(--red-1);
    --button-outline-danger-text-active: var(--red-1);
    --button-outline-danger-text-hover: var(--red-1);
    --button-outline-positive-background: red;
    --button-outline-positive-background-active: var(--green-4);
    --button-outline-positive-background-hover: var(--green-3);
    --button-outline-positive-border: var(--green-2);
    --button-outline-positive-border-active: var(--green-4);
    --button-outline-positive-border-hover: var(--green-3);
    --button-outline-positive-text: var(--text-3);
    --button-outline-positive-text-active: var(--text-0);
    --button-outline-positive-text-hover: var(--text-0);
    --button-outline-primary-background: red;
    --button-outline-primary-background-active: var(--active);
    --button-outline-primary-background-hover: var(--hover);
    --button-outline-primary-border: var(--text-5);
    --button-outline-primary-border-active: var(--text-5);
    --button-outline-primary-border-hover: var(--text-5);
    --button-outline-primary-text: var(--text-3);
    --button-outline-primary-text-active: var(--text-3);
    --button-outline-primary-text-hover: var(--text-3);
    --button-positive-background: var(--green-2);
    --button-positive-background-active: var(--green-4);
    --button-positive-background-disabled: var(--green-4);
    --button-positive-background-hover: var(--green-3);
    --button-positive-border: var(--button-border);
    --button-secondary-background: var(--bg-2);
    --button-secondary-background-active: var(--text-5);
    --button-secondary-background-disabled: var(--bg-3);
    --button-secondary-background-hover: var(--bg-1);
    --button-secondary-text: var(--text-3);
    --button-transparent-background: var(--hover);
    --button-transparent-background-active: var(--active-2);
    --button-transparent-background-hover: var(--active);
    --button-transparent-text: var(--text-3);
    --card-primary-bg: var(--bg-3);
    --card-secondary-bg: var(--bg-2);
    --channel-icon: var(--text-4);
    --channel-text-area-placeholder: var(--text-5);
    --channels-default: var(--text-4);
    --chat-background-default: var(--bg-3);
    --chat-text-muted: var(--text-5);
    --control-background-critical-primary-active: var(--red-5);
    --control-background-critical-primary-default: var(--red-3);
    --control-background-critical-primary-hover: var(--red-4);
    --control-background-critical-primary-loading: var(--red-3);
    --control-background-critical-secondary-active: var(--text-5);
    --control-background-critical-secondary-default: var(--bg-2);
    --control-background-critical-secondary-hover: var(--bg-1);
    --control-background-critical-secondary-loading: var(--bg-2);
    --control-background-primary-active: var(--accent-5);
    --control-background-primary-default: var(--accent-3);
    --control-background-primary-hover: var(--accent-4);
    --control-background-primary-loading: var(--accent-3);
    --control-background-secondary-active: var(--text-5);
    --control-background-secondary-default: var(--bg-2);
    --control-background-secondary-hover: var(--bg-1);
    --control-background-secondary-loading: var(--bg-2);
    --control-border-critical-primary-active: var(--button-border);
    --control-border-critical-primary-default: var(--button-border);
    --control-border-critical-primary-hover: var(--button-border);
    --control-border-critical-primary-loading: var(--button-border);
    --control-border-critical-secondary-active: var(--border-light);
    --control-border-critical-secondary-default: var(--border-light);
    --control-border-critical-secondary-hover: var(--border-light);
    --control-border-critical-secondary-loading: var(--border-light);
    --control-border-primary-active: var(--button-border);
    --control-border-primary-default: var(--button-border);
    --control-border-primary-hover: var(--button-border);
    --control-border-primary-loading: var(--button-border);
    --control-border-secondary-active: var(--border-light);
    --control-border-secondary-default: var(--border-light);
    --control-border-secondary-hover: var(--border-light);
    --control-border-secondary-loading: var(--border-light);
    --control-text-critical-primary-active: var(--text-0);
    --control-text-critical-primary-default: var(--text-0);
    --control-text-critical-primary-hover: var(--text-0);
    --control-text-critical-primary-loading: var(--text-0);
    --control-text-critical-secondary-active: var(--red-2);
    --control-text-critical-secondary-default: var(--red-2);
    --control-text-critical-secondary-hover: var(--red-2);
    --control-text-critical-secondary-loading: var(--red-2);
    --control-text-primary-active: var(--text-0);
    --control-text-primary-default: var(--text-0);
    --control-text-primary-hover: var(--text-0);
    --control-text-primary-loading: var(--text-0);
    --control-text-secondary-active: var(--text-3);
    --control-text-secondary-default: var(--text-3);
    --control-text-secondary-hover: var(--text-3);
    --control-text-secondary-loading: var(--text-3);
    --custom-channel-members-bg: var(--bg-4);
    --deprecated-text-input-bg: var(--bg-3);
    --deprecated-text-input-border: var(--border-light);
    --embed-title: var(--text-2);
    --green-360: var(--green-2);
    --header-muted: var(--text-4);
    --header-primary: var(--text-2);
    --header-secondary: var(--text-4);
    --icon-muted: var(--text-5);
    --icon-primary: var(--text-3);
    --icon-secondary: var(--text-4);
    --icon-tertiary: var(--text-4);
    --info-danger-background: red;
    --info-danger-text: red;
    --info-help-background: color-mix(in hsl, var(--blue-2), transparent 80%);
    --info-help-foreground: var(--blue-1);
    --info-help-text: var(--blue-1);
    --info-positive-background: color-mix(in hsl, var(--yellow-1), transparent 80%);
    --info-positive-text: var(--green-1);
    --info-warning-background: color-mix(in hsl, var(--yellow-2), transparent 80%);
    --info-warning-text: var(--yellow-1);
    --input-background: var(--bg-3);
    --input-border: var(--border);
    --interactive-active: var(--text-3);
    --interactive-hover: var(--text-3);
    --interactive-muted: var(--text-5);
    --interactive-normal: var(--text-4);
    --mention-background: color-mix(in hsl, var(--accent-2), transparent 90%);
    --mention-foreground: var(--accent-1);
    --message-reacted-background: color-mix(in hsl, var(--accent-2), transparent 80%);
    --message-reacted-text: var(--text-2);
    --modal-background: var(--bg-4);
    --modal-footer-background: var(--bg-4);
    --no-border: var(--border);
    --polls-victor-fill: rgba(112, 170, 100, 0.2);
    --polls-voted-fill: rgba(68, 95, 120, 0.2);
    --primary-400: var(--text-4);
    --red-400: var(--red-2);
    --red-500: var(--red-3);
    --redesign-button-overlay-alpha-text: var(--text-2);
    --redesign-button-secondary-text: var(--text-3);
    --redesign-input-control-selected: var(--accent-2);
    --scrollbar-auto-thumb: transparent;
    --scrollbar-auto-track: transparent;
    --scrollbar-thin-thumb: transparent;
    --scrollbar-thin-track: transparent;
    --status-danger: var(--red-2);
    --status-danger-background: var(--red-3);
    --status-danger-text: var(--white);
    --status-dnd: var(--dnd);
    --status-idle: var(--idle);
    --status-offline: var(--offline);
    --status-online: var(--online);
    --status-positive: var(--green-2);
    --status-positive-background: var(--green-2);
    --status-positive-text: var(--white);
    --status-speaking: var(--green-2);
    --status-warning: var(--yellow-2);
    --status-warning-background: red;
    --status-warning-text: var(--black);
    --text-brand: var(--accent-1);
    --text-danger: var(--red-1);
    --text-default: var(--text-3);
    --text-feedback-critical: var(--red-1);
    --text-feedback-info: red;
    --text-feedback-positive: var(--green-1);
    --text-feedback-warning: var(--yellow-1);
    --text-link: var(--accent-1);
    --text-link-low-saturation: red;
    --text-low-contrast: var(--text-4);
    --text-message-preview-low-sat: red;
    --text-muted: var(--text-5);
    --text-muted-on-default: var(--text-4);
    --text-normal: var(--text-3);
    --text-positive: var(--green-1);
    --text-primary: var(--text-3);
    --text-secondary: var(--text-4);
    --text-tertiary: var(--text-4);
    --text-warning: var(--yellow-1);
    --user-profile-overlay-background: var(--bg-4);
    --user-profile-overlay-background-hover: var(--bg-2);
    --white: var(--text-0);
    --white-500: var(--text-0);
    --border: hsla(0,0%,0%,0);
    --border-faint: var(--border);
    --border-light: var(--border);
    --border-normal: var(--border);
    --border-strong: var(--border);
    --border-subtle: var(--border);
}
