/**
 * @name BLACKCAT 🐈‍⬛
 * @description My forever headache.
 * @author 666forever
 * @version 2.0
 * @website https://github.com/666forever/discord
 * @source https://666forever.github.io/discord/build/BlackCat.css
 */

/* ──────────────── imports ──────────────── */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://666forever.github.io/discord/build/BlackCat.css');

/* ──────────────── user variables ──────────────── */
:root {
    /* font */
    --font: 'Oxygen', 'gg sans', 'Noto Sans', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
    font-weight: 400;

    /* color palette */
    --base00: #191724;
    --base01: #1f1d2e;
    --base02: #26233a;
    --base03: #6e6a86;
    --base04: #908caa;
    --base05: #bcbabe;
    --base06: #e0def4;
    --base07: #524f67;
    --base08: #eb6f92;
    --base09: #f6c177;
    --base0A: #ebbcba;
    --base0B: #31748f;
    --base0C: #9ccfd8;
    --base0D: #c4a7e7;
    --base0E: #f6c177;
    --base0F: #524f67;

    /* assets */
    --home-icon: url('https://666forever.github.io/discord/assets/homecat.svg');
    --user-bg: 'https://i.imgur.com/OQP9BMq.gif'; /* use url(var(--user-bg)) when applying */
    --custom-guild-list-padding: 12px;

    /* sizing */
    --radius-sm: 12px;
    --radius-md: 12px;
    --radius-lg: 12px;
    --divider-thickness: 4px;
    --border-thickness: 0px;
    --gap: 12px;

    /* toggles */
    --hide-nameplates: true;
    --hide-profile-effects: true;
    --hide-avatar-decorations: true;
    --hide-gradient-glow-usernames: true;
    --hide-server-boost-goal: true;
    --hide-server-activity: true;
    --hide-user-activity: true;
    --hide-context-menu-quick-reactions: true;
    --hide-hover-quick-reactions: true;
    --hide-image-edit-button: true;
    --hide-apps-button: true;
    --hide-gift-button: true;
    --hide-help-button: true;
    --hide-shop-button: true;
    --hide-nitro-button: true;
    --hide-active-now: true;
    --hide-nitro-upsells: true;
    --hide-cluttery-badges: true;
    --prevent-sidebar-resizing: false;
}
